body {
    background: url("bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #333;
}
.form-signin {
    width: 100%;
    max-width: 330px; /* Adjust width */
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    left: 37%;
    top: 30%;
    width: 350px;
    height: 150px;


}

.login-box {
    background: white; /* White background for the login box */
    padding: 20px; /* Inner padding */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}